.heroimg {
    background-image: url(https://images.pexels.com/photos/1367192/pexels-photo-1367192.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

.bossimg {
    background-image: url(https://images.pexels.com/photos/886051/pexels-photo-886051.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
}

.goldimg {
    background-image: url(https://www.pngitem.com/pimgs/m/534-5344085_gold-bag-of-money-hd-png-download.png);
    background-position: center;
    background-size: cover;

}